# apps/backend/.env.example
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"
JWT_SECRET="your-jwt-secret-here"
SECRET_KEY="your-secret-key-here"
PORT=3000
GOOGLE_CLIENT_ID=307404027803-jglp41ddltud2053qr8afp27eku355i9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/callback